<header>
  <div id="title"><a href="/">&lt; codeial &#47;&gt;</a></div>
  <div id="list">
    <% if (locals.user){ %>
    <div id="user-avatar">
      <img src="<%= user.avatar %>" alt="<%= user.name %>  avatar">
    </div>
    <div id="user-name">
      <a href="/users/profile/<%= user.id %> ">
        <%= user.name %> </a>
    </div>
    <div id="pipe"> &nbsp; <i class="fa-solid fa-bolt fa-lg" style="color: #ffffff;"></i> &nbsp; </div>
    <div id="Sign-out">
      <a href="/users/sign-out"> Sign Out </a>
    </div>

    <% }else{ %>

    <div id="Sign-in">
      <a href="/users/sign-in">Sign In</a>
    </div>
    <div id="pipe"> &nbsp; <i class="fa-solid fa-bolt fa-lg" style="color: #ffffff;"></i> &nbsp;</div>
    <div id="Sign-up">
      <a href="/users/sign-up">Sign Up</a>
    </div>

    <% } %>
  </div>
</header>
