@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
$font-stack: "Russo One", sans-serif;
header {
  height: 5vh;
    position: sticky;
    top: 0;
    max-width: 100vw;
    min-width: 100vw;
    // background-color: #e26918;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: bisque;
    // backdrop-filter: blur(5px);
    z-index: 1;
  #list {
    display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    justify-content: space-between;
  }
  #title {
    padding: 1px;
    // margin-left: 1%;
    // position: sticky !important;
    font: 1.8rem $font-stack;
    font-weight: 200;
    color: #04aa6d;
    border-right: 4px solid #04aa6d;
    animation:
      cursor 1s infinite step-end,
      typing 4s infinite steps(6);
    overflow: hidden;
  }
  @keyframes cursor {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: #04aa6d;
    }
  }
  @keyframes typing {
    0% {
      width: 0ch;
    } /*Text is hidden*/
    30% {
      width: 6ch;
    } /*The enitre header will be typed out 1 character at a time*/
    80% {
      width: 6ch;
    } /*Text stays visible*/
    90% {
      width: 0ch;
    } /*Text is deleted*/
    100% {
      width: 0ch;
    } /*Text stays hidden*/
  }
  #user-name,
  #sign-out,
  #sign-in,
  #sign-up {
    position: sticky !important;
    font: 1.2rem $font-stack;
    margin: 5px;
    padding: 1px;
    align-items: center;
  }
  #pipe {
    position: sticky !important;
    font-size: 1rem;
    margin: 5px;
    padding: 1px;
  }
  a {
    text-decoration: none;
    color: #04aa6d;
  }
  a:hover {
    // background-color: #37c50b;
    color: #9cec83;
  }
}
