@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
$font-stack: "Russo One", sans-serif;
// $font-stack-1: 'ADLaM Display', cursive;
header {
  top: -15px;
  height: 5vh;
  width: 100%;
  // background-color: blue;
  display: flex;
  justify-content: space-between;
  #list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  #title {
    padding: 1px;
    font: 1.9rem $font-stack;
    font-weight: 200;
    color: #ffffff;
    border-right: 4px solid #ffffff;
    animation:
      cursor 1s infinite step-end,
      typing 4s infinite steps(6);
    overflow: hidden;
  }
  @keyframes cursor {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: #ffffff;
    }
  }
  @keyframes typing {
    0% {
      width: 0ch;
    } /*Text is hidden*/
    30% {
      width: 6ch;
    } /*The enitre header will be typed out 1 character at a time*/
    80% {
      width: 6ch;
    } /*Text stays visible*/
    90% {
      width: 0ch;
    } /*Text is deleted*/
    100% {
      width: 0ch;
    } /*Text stays hidden*/
  }
  #user-name,
  #sign-out,
  #sign-in,
  #sign-up {
    font: 1.2rem $font-stack;
    margin: 5px;
    padding: 1px;
    align-items: center;
  }
  #pipe {
    font-size: 1rem;
    margin: 5px;
    padding: 1px;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
  a:hover {
    background-color: #1ed760;
    color: #ffffff;
    border-bottom: 1px sold #1ed760;
    animation: 1.5s ease-in-out infinite;
    border-radius: 5px;
    padding: 2px;
  }
}
