#target-chatbox {
  position: sticky;
  height: fit-content;
  width: fit-content;
  top: 94vh;
  left: 95.5vw; }

#chat-box {
  height: 0;
  width: 0;
  position: fixed;
  top: 94vh;
  left: 95.5vw;
  overflow: hidden;
  transition: all 0.5s ease-in-out; }

#chat-box:target {
  height: 450px;
  width: 450px;
  top: 15vh;
  left: 55vw;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 6px lightseagreen;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff); }
  #chat-box:target #chat-box-header {
    display: flex;
    box-sizing: border-box;
<<<<<<< HEAD
    justify-content: space-between; }
=======
    justify-content: space-between;
    border-bottom: 1px solid grey; }
>>>>>>> 1d7807e ( chat box style improved)
    #chat-box:target #chat-box-header #chat-box-title {
      display: inline;
      position: relative;
      left: 38%;
      top: 2px;
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black; }
    #chat-box:target #chat-box-header #chat-box-close-sign {
      margin: 6px;
      text-decoration: none; }
      #chat-box:target #chat-box-header #chat-box-close-sign i {
        color: red;
        font-weight: 700; }
  #chat-box:target #user-chat-box {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: baseline; }
<<<<<<< HEAD
=======
    #chat-box:target #user-chat-box #chat-messages-list .other-message {
      position: relative;
      width: max-content;
      padding: 4px;
      border: 1px solid black;
      background-color: antiquewhite;
      border-radius: 10px;
      text-align: left;
      left: 0;
      box-shadow: 4px 4px grey; }
    #chat-box:target #user-chat-box #chat-messages-list .self-message {
      position: absolute;
      width: max-content;
      padding: 4px;
      border: 1px solid black;
      background-color: bisque;
      border-radius: 10px;
      text-align: right;
      right: 5px;
      box-shadow: 4px 4px grey; }
>>>>>>> 1d7807e ( chat box style improved)
    #chat-box:target #user-chat-box #chat-message-input-container {
      position: absolute;
      top: 90%;
      width: 98%;
      display: flex;
      flex-direction: row;
<<<<<<< HEAD
      justify-content: space-between; }
      #chat-box:target #user-chat-box #chat-message-input-container input[type=text] {
        width: 85%;
=======
      justify-content: space-around; }
      #chat-box:target #user-chat-box #chat-message-input-container input[type=text] {
        width: 88%;
>>>>>>> 1d7807e ( chat box style improved)
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 10px;
        position: relative;
        outline: none; }
      #chat-box:target #user-chat-box #chat-message-input-container button {
<<<<<<< HEAD
        width: 15%;
=======
        width: max-content;
>>>>>>> 1d7807e ( chat box style improved)
        background-color: white;
        border: 2px solid #4caf50;
        color: black;
        text-align: center;
        padding: 6px 12px;
<<<<<<< HEAD
=======
        opacity: 0.9;
>>>>>>> 1d7807e ( chat box style improved)
        position: relative;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        transition-duration: 0.4s; }
<<<<<<< HEAD
=======
      #chat-box:target #user-chat-box #chat-message-input-container button:hover {
        opacity: 1;
        background-color: #4caf50;
        color: white; }
>>>>>>> 1d7807e ( chat box style improved)
