@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
footer {
  top: 95%;
  position: fixed;
  display: flex;
  height: 5vh;
  width: 100vw;
  padding: 10px 0 10px 0;
  align-items: center;
  justify-content: center;
  background: bisque;
  z-index: 1; }
  footer #fot-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 2vh; }
    footer #fot-list a {
      text-decoration: none;
      text-align: center;
      align-items: center;
      margin: 5px;
      color: #04aa6d;
      font: 1rem "Russo One", sans-serif; }
    footer #fot-list #pipe {
      font-size: 1rem;
      margin: 5px;
      padding: 1px; }
