@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
header {
  max-width: 100vw;
  height: 7vh;
  margin-bottom: 1vh;
  padding: 10px;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header #title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    display: inline; }
    header #title a {
      text-decoration: none;
      color: #fff;
      transition-duration: 0.6s; }
    header #title a:hover {
      color: #512da8; }
  header #list {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    font-weight: 600;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    header #list div a {
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      transition-duration: 0.6s;
      text-transform: uppercase; }
    header #list div a:hover {
      color: #512da8; }
    header #list img {
      margin: 0;
      position: relative;
      height: 48px;
      width: 48px;
      padding: 10px;
      max-width: 55px;
      border-radius: 50%;
      right: 20%;
      transition-duration: 0.3s; }
    header #list img:hover {
      border: 2px solid #512da8;
      padding: 0; }
